nav {
    background-color: white;
    border: solid 2px white;
    border-radius: 2em;
}
ul {
    background-color: white;
    list-style: none;
    text-align: center;
}

a {
    background-color: white;
}
li {
    background-color: white;
    display: inline-block;
    padding-left: 10px;

}