* {
    text-align : center;
    background-color: #9fd4e9;
    font-family: Times, "돋움", serif;
    white-space: pre-wrap;
}

table {
    width: 95%;
    height: 33em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}
textarea {
    text-align: center;
    resize: none;
    width: 100%;
    height: 100%;
    font-size: 1.3em;
    background-color: white;
    border: solid 2px lightslategray;
    border-radius: 2em;
}
textarea::placeholder {
    font-size: 1em;
}

#btnSave {
    color: white;
    font-size: large;
    width: 20%;
    height: 30px;
    margin-top: 3%;
    background-color: gray;
    border: solid 2px lightslategray;
    border-radius: 0.8em;
}